<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/sass/style.css">
    <link rel="stylesheet" href="/assets/fontawesome-free-5.15.4-web/css/all.min.css">
    <title>Tableau de bord</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" id="sidebar">
            <nav>
                <div class="heading">
                    <h3>Admin</h3>
                </div>
                <div class="navlink">
                    <a href="/" class="nav-item">
                        <i class="fa fa-home"></i>
                        Accueil
                    </a>
                    <a href="/listProduit" class="nav-item">
                        <i class="fa fa-box"></i>
                        Produit
                    </a>
                    <a href="/listCategorie" class="nav-item">
                        <i class="fa fa-folder"></i>
                        Categorie
                    </a>
                </div>
            </nav>
        </div>
        <div class="content">
            <div class="head">
                <h3>Tableau de bord</h3>
                <div class="date">
                    <h4>{{ aujourd_hui }}</h4>
                </div>
                <div class="icon">
                    <i class="fa fa-bars" id="menu-btn"></i>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="card-result">
                        <div class="icon">
                            <div class="fa fa-apple-alt"></div>
                        </div>
                        <div class="contenu">
                            <p>Total des produits</p>
                            <h4>{{ countProduit }}</h4>
                        </div>
                    </div>
                    <div class="card-result-2">
                        <div class="icon">
                            <div class="fa fa-folder"></div>
                        </div>
                        <div class="contenu">
                            <p>Total des Categories</p>
                            <h4>{{ countCategorie }}</h4>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <table>
                        <thead>
                            <th>Id Produit</th>
                            <th>Nom Produit</th>
                            <th>Prix</th>
                            <th>Categorie</th>
                        </thead>
                        <tbody>
                            {{ produit }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/button.js"></script>
</html>